/* reset para remover configurações de estilo do navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  font-family: sans-serif;
}

/*seletor :root sinaliza que as variáveis podem ser aplicadas a todo o doc (são globais)*/
:root {
--violet-jtc: #5d2a42ff;
--lemon-chiffon-opac: rgba(241, 240, 204, 0.616);
--lemon-chiffon: #f1f0ccff;
--rosy-brown-opac: rgba(186, 143, 149, 0.541);
--rosy-brown: rgb(186, 143, 149);
}

html {
  width: 100%;
}

body {
  background-color: var(--lemon-chiffon-opac);
}

header {
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), var(--violet-jtc));
  text-align: center;
  display: flex;
  height: 60vh;
  justify-content: center;
  gap: 4%;
  padding: 4vh 1vh;
}

header img{
  border-radius: 50%;
  box-shadow: 0px -2px 50px rgba(0, 0, 0, 0.212);
}

header div{
  align-content: center;
  width: 40%;
}

h1{
  font-family: 'Garamond', serif;
  font-weight: 800;
  font-size: 3rem;
  color: var(--lemon-chiffon);
  margin-bottom: 3%;
}

header p{
font-style: italic;
font-size: 1.5rem;
color: white;
}

#conteudo {
  width: 95vw;
  margin: 2rem;
  gap: 4%;
  display: flex;
}

nav {
  width: 20%;
  position: sticky;
  align-self: flex-start; /*  alinha o item ao topo do container */
  top: 20px;
}

nav h3 {
  font-weight: 700;
  margin-bottom: 15px;
}

nav li {
  margin-bottom: 10px;
}

nav li a{
  color: black;
}

nav li a:hover{
  color: var(--violet-jtc);
  text-decoration: underline;
}

h2{
  font-family: 'Garamond', serif;
  font-weight: 800;
  font-size: 2rem;  
  margin-bottom: 3%;
  border-left: 3px solid var(--violet-jtc);
  padding-left: 10px;
}

iframe{
  box-shadow: 4px 10px 20px gray;
}

section, article {
  margin-bottom: 3rem;
}

hr{
  width: 50%;
  margin: 3rem auto;
}

span, th {
  font-weight: 600;
}

#cartoes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.2rem;
  text-align: center;
}


.flip-card {
  perspective: 1000px;
  width: 310px;
  height: 95px;
  margin: 20px;
}

.flip-card-inner {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--rosy-brown-opac);
  width: 310px;
  height: 95px;
  box-shadow: 4px 10px 20px gray;
  align-content: center;
  backface-visibility: hidden;
  position: absolute;
}

.flip-card-back{
  transform: rotateY(180deg);
}

.flip-card-back p a {
  color: black;
}

.flip-card-back p a:hover {
  color: var(--violet-jtc);
}

th {
  background-color: var(--violet-jtc);
  color: var(--lemon-chiffon);
  height: 3rem;
}

td {
  background-color: var(--lemon-chiffon);
  color: black;
  text-align: center;
}

td a {
  color: black;
  text-decoration: underline;
}

td a:hover {
  color: var(--violet-jtc);
}

.logos {
  background-color: var(--violet-jtc);
  padding: 5px 5px;
  align-items: center;
}

#divisao {
  background-color: var(--rosy-brown-opac);
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 10px 10px 20px gray;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 1.5rem;
  background-color: var(--rosy-brown-opac);
  border-radius: 10px;
  box-shadow: 10px 10px 20px gray;
}

form label{
  padding-left: 0.5rem;
  font-weight: 600;
}

form input,
textarea, select {
  margin: 0.5rem 0;
  padding: 0.6rem 1rem;
  border-radius: 1.25rem;
  border: none;
  font-size: 1rem;
}
textarea {
  height: 6rem;
}

select{
  width: 200px;
}

form button {
  text-align: center;
  padding: 0.75rem 2rem;
  background: var(--violet-jtc);
  color: var(--lemon-chiffon);
  border-radius: 1rem;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  width: fit-content;
  margin-right: 10px;
  align-self: flex-end;
}

form button:hover {
  background-color:maroon;
}

footer {
  background-image: linear-gradient(to top , rgb(0, 0, 0), var(--violet-jtc), var(--violet-jtc));
  text-align: center;
  align-content: center;
  height: 10vh;
  color: var(--lemon-chiffon);
}

